/* Estilos básicos para el terminal */
body {
    background-color: black;
    color: #00FF00;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Terminal */
#terminal {
    padding: 20px;
    background-color: black;
    border: 2px solid #00FF00;
    height: 90vh;
    font-size: 18px;
    white-space: pre-wrap;
    overflow-y: auto;
    box-sizing: border-box;
}

/* Campo de entrada del comando */
#commandInput {
    color: #00FF00;
    background-color: black;
    border: none;
    width: 100%;
    font-size: 18px;
    outline: none;
    padding: 5px;
    margin-top: 10px;
}

#commandInput::placeholder {
    color: #00FF00;
}

/* Animación de escritura */
.typing {
    animation: typing 1s steps(30, end) infinite;
}

@keyframes typing {
    0% { width: 0; }
    100% { width: 100%; }
}

/* Estilos de la salida de comando */
.command-output {
    color: #00FF00;
    margin: 10px 0;
}

.command-error {
    color: red;
    margin: 10px 0;
}

.command-execute {
    color: #FFFFFF;
}
